h2 {
  color: green;
  /* font-style: italic; */
}

.personForm {
  color: gray;
  padding-top: 3px;
  font-size: 15px;
  background-color: antiquewhite;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}